
    <div class="col-sm">
        <div class="card" ;>
            <img class="card-img-top" src="img/ocean-cliff.jpg" alt="ocean-cliff">
            <div class="card-body">
                <p class="card-text">Portfolio 1</p>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card" ;>
            <img class="card-img-top" src="img/red-rocks.jpg" alt="red rocks">
            <div class="card-body">
                <p class="card-text">Porfolio 2</p>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card cliff" ;>
            <img height: 18rem; class="card-img-top " src="img/desert.jpg" alt="desert">
   	 		<div class="card-body ">
   			 <p class="card-text ">Porfolio 3</p>
 		 </div>
    </div>
</div>

     
    <div class="col-sm ">
        <div class="card ";>
	  		<img class="card-img-top " src="img/cliff.jpg" alt="cliff">
	    	<div class="card-body ">
	   	 	<p class="card-text ">Portfolio 4</p>
	   	 	</div>
  		</div>
    </div>
   		 <div class="col-sm ">
     		<div class="card ";>
  			<img class="card-img-top " src="img/lake.jpg" alt="lake">
   	 		<div class="card-body ">
   			 <p class="card-text ">Porfolio 5</p>
 		 </div>

	</div>
    	</div>
   		 <div class="col-sm ">
      		<div class="card " >
  			<img  class="card-img-top " src="img/waterfall.jpg" alt="waterfall">
   			 <div class="card-body ">
   			 <p class="card-text ">Portfolio 6</p>
  			</div>

 		 </div>
  </div>

